<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dofun.uggame.service.security.mapper.AccountMapper">

    <select id="queryNeedChangePasswordGarena" resultType="com.dofun.uggame.service.security.entity.AccountEntity">
        SELECT *
        FROM zhw_security_account_garena
        WHERE STATUS = 0
          AND (order_status = 10 OR
               (order_status = 0 AND (order_end_time BETWEEN date_add(now(), INTERVAL - 300 SECOND) AND now())))
        GROUP BY garena_account,update_time DESC
    </select>
</mapper>